@media screen and (max-width : 1090px) {

    .songcontainer {
        flex-wrap: wrap;
    }

    .songboxs {
        width: 100%;
    }
    #mainbar {
        margin-top: 30px;
    }
}

@media screen and (max-width : 520px) {
    .boxContainer {
        display: none;
    }
    #mainbar {
        margin-top: 0px;
    }
}

@media screen and (max-width : 430px) {
    
    .songbar {
        width: 100%;
        height: calc(100% - 50px);
    }

    h3 {
        font-size: 1rem;
    }

    span {
        font-size: 15px;
    }

    .new-playing {
        position: relative;
        top: 0px;
        left: 30%;
    }

    .songslistbar p{
        font-size: 11x;
    }
}